<div class="container">
	<div>
		<div class="btn btn-success" ng-click="eventCtrl.choose=1">Add Event</div>
		<div class="btn btn-primary" ng-click="eventCtrl.choose=2">Edit event</div>
	</div>

	<div ng-show="eventCtrl.choose==1">
		<h2>Add Event</h2>
		<div class="question">
			<label class="col-sm-12 col-md-6">City</label>
			<select ng-options="x.name for x in eventCtrl.sams" ng-model="eventCtrl.city"></select>
		</div>
		<div ng-show="eventCtrl.city != ''">
			<div class="question">
				<label class="col-sm-12 col-md-6">Event Name</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.newEvent.name"/>
			</div>
			<div class="question">
				<label class="col-sm-12 col-md-6">Time</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.newEvent.time"/>
			</div>
			<div class="question">
				<label class="col-sm-12 col-md-6">Venue</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.newEvent.venue"/>
			</div>
			<div class="question">
				<label class="col-sm-12 col-md-6">Instructions</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.newEvent.instructions"/>
			</div>
			<button class="btn btn-success" ng-click="eventCtrl.addEvent()">Add Event</button>
		</div>
	</div>

	<div ng-show="eventCtrl.choose==2">
		<h2>Edit Event</h2>
		<div class="question">
			<label class="col-sm-12 col-md-6">City</label>
			<select ng-options="x.name for x in eventCtrl.sams" ng-model="eventCtrl.curCity" ng-change="eventCtrl.cityChanged()"></select>
		</div>
		<div class="question" ng-show="eventCtrl.curCity != ''">
			<label class="col-sm-12 col-md-6">Event</label>
			<select ng-options="x.name for x in eventCtrl.curEvents" ng-model="eventCtrl.curEvent"></select>
		</div>
		<div ng-show="eventCtrl.curEvent != ''">
			<div class="question">
				<label class="col-sm-12 col-md-6">Event Name</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.curEvent.name"/>
			</div>
			<div class="question">
				<label class="col-sm-12 col-md-6">Time</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.curEvent.time"/>
			</div>
			<div class="question">
				<label class="col-sm-12 col-md-6">Venue</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.curEvent.venue"/>
			</div>
			<div class="question">
				<label class="col-sm-12 col-md-6">Instructions</label>
				<input class="col-sm-12 col-md-6" type="text" ng-model="eventCtrl.curEvent.instructions"/>
			</div>
			<button class="btn btn-success" ng-click="eventCtrl.editEvent()">Update</button>
		</div>
	</div>
</div>